* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.combustivel {
  display: flex;
  justify-content: space-between;
  width: 50px;
}

.caixa-principal {
  background-color: aquamarine;
  height: 850px;
  gap: 25px;
  display: flex;
  border-radius: 25px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 25px;
  border-radius: 30px;
  padding: 50px;
}

form input {
  width: 350px;
  height: 30px;
 border-radius: 25px;
}

.caixa-menor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.resultado {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 638px;
  width: 261px;
}

button {
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.botao {
  display: flex;
  justify-content: center;
}

section {
    display: flex;
    justify-content: space-between;
}

